.node--type-profile {
  .block-region-subsection {
    padding-bottom: 2em;

    .field--item.field--type-name {
      margin-top: 0;
      line-height: 1.1em;
    }
  }

  .block-region-right {
    .field--name-field-profile-research-interests .field__items {
      text-align: center;
    }

    .block {
      padding: 0;
      margin: 1em auto;

      .field {
        .field--label {
          @include icon(inherit, 'add_circle', 1.5em);

          cursor: pointer;
          background: $primary-lighter;
          border-radius: 5px;
          color: #fff;
          font-weight: 600;
          padding: 10px 20px;
          margin: 0;
          font-size: 1em;
          -webkit-box-shadow: 0 2px 4px 0 rgba($gray-base, 0.16);
          -moz-box-shadow: 0 2px 4px 0 rgba($gray-base, 0.16);
          box-shadow: 0 2px 4px 0 rgba($gray-base, 0.16);

          &:after {
            font-weight: bold;
            float: right;
            opacity: 0.65;
          }

          &:hover,
          &.active {
            background: darken($primary-lighter, 1%);

            &:after {
              opacity: 1;
            }
          }

          &.active {
            @include icon(inherit, 'remove_circle', 1.5em);
          }
        }

        .field__items {
          margin: -5px auto 0;
          padding: 20px;
          border: 1px solid $gray-dark;
          border-top: none;
          border-radius: 5px;
        }

        &.field--name-field-profile-research-interests .field--item {
          margin: 1em auto;
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }
}
